@import url('./css/nav.css');
@import url('./css/fonts.css');
@import url('./css/header.css');
@import url('./css/box.css');


:root {
    --color-primary: #232328;
    --color-secondary: #ededed;
    --color-bg:#F9F6EE;
    --color-header: linear-gradient(315deg, #131313 0%, #252525 80%);
    --color-gradient-space: linear-gradient(to right,#2a2a2f, rgb(12, 12, 12), #2a2a2f);
    --color-nav-bg: #252525;
    --color-link: #F9F6EE;

    --color-btn-bg: #342f36;
    --color-btn-bg-hover: #453f48;
    --color-btn: #ededed;

    --font-primary: SourcePro;
    --font-light: SourceProLight;
    --font-dreams: CaviarDreams;

    --test-color: rgb(41, 140, 104);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
   
}

section {
    width: 100%;
    height: 600px;   
    background: var(--color-gradient-space);
    background-size: 200%;

   /*  animation: bg-pan 8s linear infinite; */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

@keyframes bg-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}